html {
    height: 100%;
}

body{
    height: 100%;
    background-color: #D1D1D1;
    font-family:Tahoma;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 4px;
}

#search-header {
    font-size: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

#execute-search {
    background: url("../images/search.png") 2px 1px no-repeat;
    height: 38px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-fields-header {
    border-radius: 10px;
    font-size: 25px;
    outline: none;
}

.input-info {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.buttons-window {
    font-size: 20px;
    margin: 10px;
}

.site-container {
    min-height: 100%;
    background-color: white;
    box-shadow:1px 1px 10px 10px #444444;
}

#header-image {
    width: 100%;
}

#header-image:hover {
    cursor: pointer;
}

#search-field-header {
    margin-top: 15px;
}

.header {
    border-radius: 20px;
    box-shadow:1px 1px 10px 10px #444444;
    background: radial-gradient(circle at 250px 100px, #5cabff, #000);
}

.title {
    margin-top: 20px;
    font-size: 30px;
}

#logo:hover {
    color: red;
    cursor: pointer;
}

#titleSeries:hover {
    color: blue;
}

.user-information {
    line-height: 100%;
}



#search-text {
    text-align: center;
}

.buttonTop {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 30px;
    float: right;
}

#login-Button {
    background: url("../images/login.png") 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #3D6E97;
}

#register-Button {
    background: url("../images/register.png") 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #25D90D;
}

#list-Button {
    background: url("../images/list.png") 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #3D6E97;
}

#logout-Button {
    background: url(../images/logout.png) 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #FF121B;
}



#searchField {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
}

#input-description {
    text-align: center;
}

#add-button {
    margin: 30px;
}

#series-show {
    background: url(../images/seriesIcon.png) 3px 8px no-repeat;
    padding-left: 35px;
    color: black;
    margin-right: 5px;
}

#series-show:disabled {
    background-color: #999999;
}

#movies-show {
    background: url(../images/movieIcon.png) 3px 6px no-repeat;
    padding-left: 35px;
    color: black;
    margin-left: 5px;
}

#movies-show:disabled {
    background-color: #999999;
}


.series:hover {
    border-radius: 20px;
    background: #0F67FF;
    color: white;
    cursor: pointer;
    box-shadow:0px 0px 35px 5px #444444;
}

#list-other-user {
    border-radius: 20px;
    box-shadow:0px 0px 35px 5px #444444;
    
}

.user-in-list:hover {
    border-radius: 20px;
    background: #0F59FF;
    color: white;
    cursor: pointer;
    box-shadow:0px 0px 35px 5px #444444;
}

.user-in-list {
    padding: 5px;
    border-radius: 20px;
    background: #999895;
    margin-bottom: 10px;
}


#detail-view {
    margin: 20px;
}

#information-for-user {
    max-width: 200px;
    color: red;
    font-size: 20px;
}


#itemNameDetail {
    font-size: 50px;
}

.deleteButton {
    background: url(../images/delete.png) 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #FF2700;
    border-radius: 20px;
}

#detailAddButton {
    background: url(../images/plus.png) 3px 6px no-repeat;
    padding-left: 35px;
    color: #FBFBFB;
    background-color: #0CFF00;
    border-radius: 20px;
}

.detail-information {
    color: blue;
}

.detail-information:hover {
    text-decoration: underline;
    cursor: pointer;
}

#buttons-in-list {
    margin-left: 40px;
    margin-top: 20px;
}

#show-more-results {
    text-align:center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#show-more {
    margin-right: 10px;
}

#back-to-top {
    margin-left: 10px;
}


#calendar-wrap {
    margin: 20px;
}

#calendar{
    width:100%;
}

#calendar a{
    color:#666;
    text-decoration: none;
}

#calendar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
}

#calendar li{
    display:block;
    float: left;
    width: 14.2857142857%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays{
    height:40px;
    background: #333;
}

#calendar ul.weekdays li{
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border:none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li{
    height: 180px;
    overflow: auto;
    border: 1px solid black;
    
}

#calendar .days li:hover{
    background: #eee;
    
}

#calendar .date{
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    background: #333;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: right;

}

#calendar .event{
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 1px;
    color: #666;
    line-height: 14px;
    background-color: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar.event-description{
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar.other-month{
    background: #f5f5f5;
    color: #666;
}

@media (max-width:768px){
    #calendar .weekdays, #calendar .other-month{
        display: none;
    }
    #calendar li{
        height:auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }
    #calendar .date{
        flex: none;
    }
    
}

.seasonsOverview{
    width:100%;
}

.seasonsOverview ul{
    list-style: none;
    padding: 0px 0px;
    margin-left: 10%;
    clear: both;
    width: 60%;
}

.seasonsOverview li{
    display:block;
    float: left;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

.seasonsOverview ul.seasonParameters{
    height:40px;
    background: #333;
}



.seasonsOverview ul.seasonParameters li{
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border:none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 16px;
}

.seasonsOverview ul.seasonDetails {
    height: auto;
    overflow: auto;
    
    
}

.seasonsOverview .seasonDetails li{
    text-align: center;
    height: 70px;
    overflow: auto;
    border: 2px solid black;
    
}

.seasonsOverview .seasonDetails li:hover{
    background: #eee;
}

.seasonsOverview .season-button{
    margin-bottom: 3%;
    margin-left:  2%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0033CC;
    border: none;
    border-radius: 5px;    
}

.seasonsOverview .season-button:hover{
    box-shadow: 7px 7px 5px 4px rgba(10,177,255,1);
}
